body{
    background-color: #36393e;
    color: white;
}
.headline{
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black
}
.headline{
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.intro{
    text-align: center;
}
a{
    color: white;
}