body{
    background-color: #36393e;
    color: white;
}
.title {
    margin-right: auto;
  }
.intro{
    text-align: center;
    font-size: 70px;
}
.menu-item {
    list-style: none;
    display: inline-block;
    padding: 20px;
  }
a{
    color: white;
}
p{
    font-weight: bold;
}
.bloglink{
    font-size: 50px;
    font-weight: bold;

}
.blogtitle{
    font-size: 50px;
    font-weight: bold;
}
.bloghonbun{
    font-size: 30px;
    font-weight: bold;

}