body{
    background-color: #36393e;
    color: white;
}
.selfintro{
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
.selfintro{
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.intro{

}
a{
    color: white;
}