body{
    background-color: #36393e;
    color: white;
}
.headline{
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black
}
.intro{
    text-align: center;
}
a{
    color: white;
}