body{
    background-color: #36393e;
    color: white;
}
.selfintro{
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
.intro{

}
a{
    color: white;
}